/* Reference: 

<Toggling Mobile Navigation Visibility with CSS: The Checkbox Hack>

Link: https://dev.to/joxx/toggling-mobile-navigation-visibility-with-css-the-checkbox-hack-7ej

https://codepen.io/joxx/pen/MWZZejp
*/
@import url(https://fonts.googleapis.com/css2?family=Rubik);

:root {
  --nav-text-color: rgb(0, 80, 155);
  --nav-bg-color: #ff6666;
}

body {
  color: var(--nav-text-color);
  font-family: "Rubik", serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

h1 {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.logo {
  padding-left: rem;
}

#menuToggle {
  display: none;
}

label {
  cursor: pointer;
}

nav {
  background-color: var(--nav-bg-color);
  height: 100vh;
  left: 50%;
  position: fixed;
  z-index: 1000; /* make sure the nav bar always stays in the same position */
  text-align: right;
  transform: translate(-50%, -50%) scale(0);
  top: 50%;
  width: 100vw;
}

nav label {
  line-height: 3;
  margin-right: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding-right: 1rem;
  text-align: center;
}

ul a:link,
ul a:visited,
ul a:hover,
ul a:active {
  color: var(--nav-text-color);
  font: bold;
  text-decoration: underline;
}

#menuToggle:checked + label + nav {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.3s;
}

@media (min-width: 700px) {
  header > label,
  nav label {
    display: none;
  }

  nav {
    background-color: transparent;
    color: var(--nav-text-color);
    display: flex;
    height: auto;
    left: auto;
    position: relative;
    transform: none;
    transition: none;
    top: auto;
    width: auto;
  }

  ul {
    display: flex;
    transition: color 0.3s ease;
  }

  ul li {
    margin-left: 1rem;
  }

  ul a:link,
  ul a:visited,
  ul a:hover,
  ul a:active {
    color: var(--nav-text-color);
  }
}
